#nav-bar {
  margin-top: -33px;
  opacity: 0;
  z-index: 1;
}

#nav-bar:focus-within {
  margin-top: 0px;
  opacity: 100;
  z-index: 3;
}


#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
  z-index: 2;
}

#tabs-newtab-button {
  display: none !important;
}
